.content {
    padding: 50px;
}

.content h3 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.content .date {
    text-align: center;
    color: green;
    padding: 20px 0;
}

.content p {
    text-indent: 2em;
    margin-bottom: 2px;
}